<div class="wrapper-login">
	<md-content layout-padding>
		<form name="form" layout="column" layout-align="center start">
			<section layout="column">
                <img ng-src="{{ctrl.constant.assetsBasePath}}img/logo.png" width="300">
				<p>
                    <small>お申し込み時に設定された<br>閲覧用パスワードを入力してください。</small>
                </p>
				<md-input-container>
					<label>パスワード</label>
					<input required type="password" name="password" ng-model="ctrl.password">
					<div ng-messages="form.password.$error">
						<div ng-message="required">パスワードを入力してください</div>
					</div>
				</md-input-container>
				<md-button class="md-raised md-primary md-large" ng-click="ctrl.accept()">認証</md-button>
			</section>
		</form>
	</md-content>
</div>
