<div layout="{{layout}}" layout-align="center center" ng-if="1 > value">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_01.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="1 <= value && value < 2">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_02.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="2 <= value && value < 3">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_03.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="3 <= value && value < 4">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_04.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="4 <= value && value < 5">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_05.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="5 <= value && value < 6">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_06.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="6 <= value && value < 7">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_07.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="7 <= value && value < 8">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_08.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="8 <= value && value < 9">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_09.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
<div layout="{{layout}}" layout-align="center center" ng-if="9 <= value">
	<img ng-src="{{ctrl.constant.assetsBasePath}}img/icon_sentiment_{{sizeIndex}}_10.jpg" ng-class="{'md-avatar': avater}" width="{{size}}" height="{{size}}" ng-style="{'fontSize': size + 'px', 'height': size + 'px', 'line-height': size + 'px'}">
</div>
