<md-toolbar ng-show="! showSearch">
	<div class="md-toolbar-tools">
		<md-button hide-gt-sm class="md-icon-button" ng-click="ctrl.toggleSidenav()" ng-show="ctrl.staff !== undefined">
			<md-icon md-font-icon="material-icons">menu</md-icon>
		</md-button>
		<h3 class="breadcrumbs">
			<span ng-repeat="breadcrumb in breadcrumbs">
				<span ng-show="! $first">&nbsp;<md-icon md-font-icon="material-icons">navigate_next</md-icon>&nbsp;</span>{{breadcrumb}}
			</span>
		</h3>
		<span flex></span>
		<md-button class="md-icon-button" ng-show="showSearch != null" ng-click="showSearch = true" aria-label="Search">
			<md-icon md-font-icon="material-icons">search</md-icon>
		</md-button>
	</div>
</md-toolbar>

<div layout="row">
	<md-button class="md-raised md-warn" id="twilio-talking" aria-label="Call end" ng-show="ctrl.manageServicesTwilio.inConnected === true && ctrl.manageServicesTwilio.inCalling === false" ng-click="ctrl.disconnectTwilio()" style="width:100%;font-size:22px;">
		<md-icon md-font-icon="material-icons">call_end</md-icon>&nbsp;{{ctrl.manageServicesTwilio.connectingPhoneNumber | formatPhone}}
	</md-button>
</div>

<md-card ng-show="ctrl.recordingStatus !== ctrl.recordingStatusList.none">
	<md-card-content class="card-list">
		<md-list class="list-customer">
			<md-list-item ng-show="ctrl.recordingStatus === ctrl.recordingStatusList.loading">
				<div layout="row" layout-align="start center" style="width: 70px;">
					<md-progress-circular md-mode="indeterminate" md-diameter="50px"></md-progress-circular>
				</div>
				<div>
					<span>通話データ取得中...</span>
				</div>
			</md-list-item>
			<md-list-item ng-show="ctrl.recordingStatus === ctrl.recordingStatusList.recording">
				<div layout="row" layout-align="start center" style="width: 70px;">
					<md-progress-circular md-mode="indeterminate" md-diameter="50px"></md-progress-circular>
				</div>
				<div>
					<span>録音中...</span>
				</div>
			</md-list-item>
			<md-list-item ng-show="ctrl.recordingStatus === ctrl.recordingStatusList.finish">
				<div layout="row" layout-align="start center" style="width: 70px;"></div>
				<div>
					<span>録音が完了しました</span>
				</div>
			</md-list-item>
			<md-list-item ng-show="ctrl.recordingStatus === ctrl.recordingStatusList.canceled">
				<div layout="row" layout-align="start center" style="width: 70px;"></div>
				<div>
					<span>録音データは作成されませんでした</span>
				</div>
			</md-list-item>
			<md-list-item ng-show="ctrl.recordingStatus === ctrl.recordingStatusList.fail">
				<div layout="row" layout-align="start center" style="width: 70px;"></div>
				<div>
					<span>通話データの取得に失敗しました</span>
				</div>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>
